{{> header }}
{{> navbar }}

<div class ="row">
    <div clss="col-8">
        <h1>   NEMESIS BITCH!</h1>
    </div>
    <div clss="col-8">
        <img src="assets/img/nemesis.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}